.summary {
  /* text-align: center; */
  max-width: 59rem;
  width: 100%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  height: 6rem;
  /* text-align: center; */
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}

.loans-image{
  float: left;
  width: 10rem;
  height: 7rem;
  /* border-radius: 14px; */
  border-radius: 14px 15px 2px 2px; /*TL TR BR BL*/
}

.card_item1{
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  width: 30%;
}

.card_item{
  width: 100%;
  /* float: right; */
}

/* .align-left1{
  float: left;
  margin-right: 3rem;
  margin-left: 3rem;
} */

.align_left{
  float: left;
  height: 2rem;
  margin-right: 0.5rem;
  /* display: flex;
  justify-content: left; */
}
.align_right{
  
  height: 2rem;
  float: left;
  /* display: flex;
  justify-content: right; */
}

.div_wrapper{
  height: 2rem;
}
.date_picker_height{
  height: 2rem;
}

